<% @title = "Listing acts" %>

<%= form_for @search do |f| %>
  <p>
    <%#= f.label :contracts_act_booked_contains %>
    <%#= f.text_field :date_of_event_gte %>
<%= f.datepicker :date_of_event_eq,:dateFormat => "yy-mm-dd",changeMonth: true,changeYear: true %>
  </p>
  <p class="button"><%= f.submit "Search", :class => "btn btn-primary btn-large" %></p>

<% end %>
<% content_for :description do %>
  <p>Edit this template in <code>app/views/acts/index.html.erb</code>.</p>
<% end %>

<% content_for :actions do %>
  <%= link_to new_act_path, class: 'btn btn-primary btn-large pull-right' do %>
    <%= icon_tag "plus" %> Add Act
  <% end %>
<% end %>
<%#= debug params[:search] %>
<% unless params[:search].blank? %>
<% if params[:search][:date_of_event_eq].blank? %>
<% flash.alert = 'Pick A Date for your event' %>
<% else %>
<% unless params[:search][:date_of_event_eq].blank? %>
<div class="span8">
        <ul class="thumbnails">
         <% @acts.each do |act| %>
          <li class="span2">
            <div class="thumbnail">
              <%= image_tag "http://placehold.it/200x100" %>

          <%= link_to act.name, profile_path(act.actcode,:date_of_event => params[:search][:date_of_event_eq]), :class => "nametag", %>
          </li>
<% end %>
        </ul>
      </div>
<% end %>
<% end %>
<% end %>
